<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- STDOUT appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-50(%-5level %logger:) %msg%n</pattern>
        </encoder>

        <!-- Show debug in stdout -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="SPLUNK" class="com.splunk.logging.HttpEventCollectorLogbackAppender">
        <!--https://127.0.0.1:8088 for local-->
        <url>${SPLUNK_HTTP_URL}</url>
        <token>${SPLUNK_TOKEN}</token>
        <index>${SPLUNK_INDEX}</index>
        <source>pcss-civil-application</source>
        <sourcetype>pcss-civil-logs</sourcetype>
        <disableCertificateValidation>true</disableCertificateValidation>
        <batch_size_count>1</batch_size_count>
        <connectTimeout>5000</connectTimeout>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%msg</pattern>
        </layout>
    </appender>

    <springProfile name="!test">
        <root level="INFO">
            <appender-ref ref="SPLUNK"/>
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <springProfile name="test">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

</configuration>
